{{# partial "titulo" }}
    <title>Listado de Entidades</title>
{{/partial}}
{{# partial "contenido" }}

    <form  action="/entidades" method="GET" >
        <fieldset class="containerOneColumn">
            <legend>Buscar entidades por categoría</legend>
            <div class="control-group">
                <span class="label-form">
                    <label for="categoriaEntidad">Categoría Entidad</label>
                </span>
                <span class="input-form">
                   <select   name="categoriaEntidad">
                              <option value="0" disabled selected>Seleccione Categoría Entidad...</option>
                       {{#each categoriasEntidades}}
                           <option value="{{id}}" >
                               {{nombre}}
                           </option>
                       {{/each}}
                   </select>
                </span>
            </div>
        </fieldset>
        <div class="footerForm">
            <button class="btn_action"  type="submit" >Buscar</button>
        </div>
    </form>
    <div>
<!--        Listado de entidades  -->
        {{#if entidades }}
        <table>
            <tr>
                <th>Nombre Ficticio</th>
                <th>Razón Social</th>
                <th>Categoría</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
                {{#each entidades}}
                    <tr>
                        <td>{{nombreFicticio}}</td>
                        <td>{{razonSocial}} </td>
                        <td>{{categoriaEntidad.nombre}} </td>
                        <td><button type="button" class="btn_info" onclick="location.href='/compras/{{id}}/producto/nuevo'">
                            Ver Entidad
                        </button>
                        </td>
                    </tr>
                {{/each}}
        </table>
        {{/if}}

    </div>

{{/partial}}

{{> layout.html.hbs }}