{{# partial "titulo" }}
    <title>Ingresar Nueva Compra</title>
{{/partial}}
    <div class="container">
{{# partial "contenido" }}

        <form class="form">

            <fieldset >
                <legend >Datos centrales de la compra</legend>
                <div>
                    <span class="label-form">
                        <label for="fechaCompra">Fecha:</label>
                    </span>
                    <span class="input-form">
                        <input type="date" placeholder="Fecha" name="fechaCompra" value="{{fechaCompra}}" >
                    </span>
                </div>

                <div>
                    <span class="label-form">
                        <label for="entidad">Entidad</label>

                    </span>
                    <span class="input-form">
                       <select id="entidad" name="entidad">
                                  <option value="0" disabled selected>Seleccione Entidad...</option>
                                  <option value="1">Entidad 1</option>
								  <option value="2">Entidad 2</option>
                                  <option value="3">Entidad 3</option>
                       </select>
                    </span>
                </div>

                <div>
                    <span>
                        <label for="proveedor">Proveedor</label>
                    </span>
                    <span>
                        <select name="proveedor" id="proveedor" >
                        <option disabled selected>Seleccione Proveedor...</option>
                            {{#each proveedores}}
                                <option value="{{id}}" > {{nombre}}</option>
                            {{/each}}
                    </select>
                    </span>

                </div>
                <div>
                    <span>
                        <label for="etiqueta">Etiqueta</label>
                    </span>
                    <span>
                        <select name="etiqueta">
                        <option disabled selected>Seleccione Etiqueta...</option>
                            {{#each etiquetasEgresos}}
                                <option value="{{id}}" > {{nombre}}</option>
                            {{/each}}
                    </select>
                    </span>

                </div>
                <div>
                    <span>
                        <label for="moneda">Moneda</label>
                    </span>
                    <span>
                        <select name="moneda">
								<option disabled selected>Seleccione Moneda...</option>
								<option value="1">Moneda 1</option>
								<option value="2">Moneda 2</option>
								<option value="3">Moneda 3</option>
						  </select>
                    </span>
                </div>

            </fieldset>
            <fieldset>
                <legend>Documento comercial</legend>
                    <span>

                    </span>


                    <label for="TipoDocCom">Tipo:</label>
                    <input placeholder="Tipo Documento Comercial" id="TipoDocCom" type="text"><br><br>
                    <label for="TipoDocCom">Fecha:</label>
                    <input placeholder="Fecha" name="fechaDocumentoComercial" id="FechaDocCom" type="date"><br><br>
                    <label for="TipoDocCom">Numero:</label>
                    <input placeholder="Numero Documento Comercial" id="nroDocCom" type="number">
            </fieldset>

        </form>

{{/partial}}
    </div>
{{> layout.html.hbs }}